body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  place-items: center;
  color: #0c67ae;
  display: grid;
}
#title {
  width: 400px;
  height: 150px;
}

#board {
  flex-wrap: wrap;
  width: 364px;
  background-color: lightskyblue;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  border: 10px solid #0c67ae;
}

#board img {
  height: 120px;
  width: 120px;
  border: 1px solid #0c67ae;
}
